{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Joftblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'joftblog/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{% static 'joftblog/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{% static 'joftblog/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'joftblog/css/blog-home.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'joftblog/css/style.css' %}"/>

    <style>
        {% block sytle %}{% endblock sytle %}    
    </style>

    {% block head_extra %}{% endblock head_extra %}
    
</head>

<body>
 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Joftblog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
    <ul class="messages">
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}  
    <div class="container" style="margin-top: 20px;">
    {% block body %}

    {% endblock %}
    </div>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; official Joftblog</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="{% static 'joftblog/js/jquery.min.js'%}"></script>
    <script src="{% static 'joftblog/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'joftblog/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'joftblog/js/mixpanel.min.js'%}"></script>
    <script src="{% static 'joftblog/js/marked.min.js' %}"></script>
    <script>

        $(document).ready(function(){
             // The code for the fade In and Out of the replies
            $(".comment-reply-btn").click(function(event){
                event.preventDefault();
                $(".comment-reply").fadeToggle();
            });

            $(".content-markdown").each(function(){
                var content = $(this).text()
                var markedContent = marked(content)
                $(this).html(markedContent)
                console.log(marked);
            });

            $(".post-detail-item img").each(function(){
                $(this).addClass("img-responsive");
            });
             // create a function to take the input text of the form and display it 
            // in the preview side
            // Note: that django creates an id for each form input when using django form
            var titleInput = $("#id_title");
            function setTitle(value){
                $("#preview-title").text(value);

            }
            setTitle(titleInput.val());
            // Then create the keyup function
            titleInput.keyup(function(){
                var newContent = $(this).val();
                setTitle(newContent);    
            });

            // For the content
            var contentInput = $("#id_body");

            function setContent(value){
                // marked the value
                var markedContent = marked(value);
                $("#preview-content").html(markedContent);
                $("#preview-content img").each(function(){
                    $(this).addClass("img-responsive")
                });
            }
            setContent(contentInput.val());

            contentInput.keyup(function(){
                var newContent = $(this).val();
                setContent(newContent)
            });
        });
    </script>
</body>

</html>